body{
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    margin: 0;

}
/* common parts  */
header{
    display: flex;
    justify-content: center;
    height: 675px;
    margin: 10px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
/* header part starts  */
.header-part{
    background-color: black;
    display: flex;
    padding: 60px;
    border-radius: 30px;
}
.header-info h1{
    font-size: 70px;
    color: white;
}
.header-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
}   

.header-img img{
    width: 581px;
    height: 613px;
    margin-left: 70px;   
}
.header-btn{
    background-color: #DD0000;
    padding: 12px 32px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
.header-btn:hover{
    background-color: white;
    color: black;
}

/* main section starts */
.aside_menu{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    background-color: black;
    width: 280px;
    padding: 10px;
    height: 260px;
    border-radius: 15px;  
    
}
.main-sec{
    display: flex;
}
.aside_btn{
    width: 230px;
    height: 64px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 20px;    
    transition: 1.5s ease;
    margin-top: 15px;
    background-color: white;
    text-align: center; 
    text-decoration: none;   
}
.article{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 20px;
}
.blog{
    width: 290px;
    height: 362px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 10px;   
}
.blog img{
    width: 290px;
}
.aside_btn:hover{
    background-color: #DD0000;
    border-radius: 10px;
    color: white;
}
.trans_btn{
    width: 100px;
    height: 32px;
}
.blog-duration{
    display: flex;
    justify-content: space-around;
}
.clock{
    color: gray;   
}
.comment{
    color: gray;
}
.view_btn{
    display: flex;
    justify-content: center;
    margin-top:30px ;
   display: none;
}

/* upcoming match section starts  */
.flag_sec{
    width: 300px;
    height: 242px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 10px;
}
.flag_img{
    display: flex;
    justify-content: space-around; 
    margin-top: 60px;
}
.flag_img span{
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
}
.flag_text{
    margin-left: 50px;
    margin-top: 25px;
}
.flag_text p{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    margin-left: 20px;
}

/* footer section starts  */
footer{
    width: 1600px;
    height: 444px;
    background: #161616;
    margin-top: 130px;
}
.footer-info{
    display: grid;
    align-items: center;

}
.footer_line{
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}
.footer-info h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    
}
.footer-menu{
    margin-top: 60px;
    text-align: center;
}
.footer-menu a{
    text-decoration: none;
    color: gray;
    margin-left: 10px;
}
.social-icon{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.social-logo{
    margin-left: 70px;
    font-size: 30px;
    transition: 1s ease;
    padding: 5px;
    color: white;
    
}
.social-logo:visited{
    color: white;
}
.social-logo:hover{
    color: blue;
    background-color: gray;
    border-radius: 10px;
}
 

/* media quary for mobile devices  */
@media screen and (max-width:668px) {
    /* header section  */
    body{
        overflow-x: hidden;
    }
    header{
        height: 100%;
    }
    .header-part{
        flex-direction: column;
    }
    .header-img img{
        width: 263px;
        height: 295px;
        margin-top: 30px;
    }
   
    .header-info h1{
        font-weight: 700;
        font-size: 22px;
        text-align: center;
    }
    .header-info p{
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .header-btn{
        margin-left: 90px;
        margin-top: 30px;
    }

    /* main section starts  */
    .main-sec{
        display: grid;
       
    }
    .aside_menu{        
        background-color: white;
    }
    
    .article{
        grid-template-columns: repeat(1,1fr);
    }

    /* footer section starts  */
    footer{
        width:600px;
    }
    .footer-info h2{    
    font-weight: 600;
    font-size: 22px;
    text-align: center;    
    }
    .footer_line{
        width: 330px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:675px) and (max-width:992px) {
    /* header part starts  */
    header{
        width: 734px;
        height: 100%;
    }
    .header-info h1{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
    .header-img img{
        width: 323px;
        height: 340px;
    }
    .header-info p{
        font-weight: 400;
        font-size: 14px;
    }
    /* main part starts here  */
      .main-sec{
        display: grid;
    }
    .aside_menu{        
        background-color: white;
        flex-direction: row;
        width: 230px;
        height: 64px;
        margin-left: 150px;
        margin-bottom: 60px;
    }
    .aside_btn{
        padding: 5px;
    }
    .article{
        grid-template-columns: repeat(2,1fr);
    }
    .blog{
         width: 300px;       
        margin-top: 50px;
    }
    .view_btn{
    display: flex;
    justify-content: center;
    margin-top:150px ;
    display: block;
    margin-left: 190px;
}

/* footer section starts  */
    footer{
        width:100%;
    }
    .footer-info h2{    
    font-weight: 600;
    font-size: 22px;
    text-align: center;    
    }
    .footer_line{
        width: 330px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
}

